* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: linear-gradient(145deg, #ecf3ff, #f4f8ff);
  color: #1e293b;
  animation: fadeIn 1s ease-in-out;
  line-height: 1.6;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: -100px;
  }
  to {
    opacity: 1;
        margin-top: 0;

  }
}
h1 {
  text-align: center;
}
header {
  background: #0a172b;
  margin: 0;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  color: #fafafa;
  margin: 0 15px;
  font-size: 1em;
  font-weight: 600;
}
header nav a:hover {
  color: #6366f1;
}
a.logo {
  text-decoration: none;
  color: #fafafa;
  font-size: 2em;
  font-weight: bold;
  margin: 0 16px;
  margin-bottom: 1em;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
section {
  background-color: #fafafa;
  padding: 10px 10px 20px 10px;
  margin: 30px 0;
}
footer {
  text-align: center;
  background-color: #07101c;
  margin-bottom: 0;
  padding: 15px 0;
}
footer h4,
footer p {
  color: #fafafa;
}
@media (max-width:600px) {
  header{
    flex-direction: column;
  }
}