#hero {
  text-align: center;
  background: linear-gradient(to bottom right, #eaf3ff, #ffffff);
  padding: 30px 0;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 30px;
}
h2 {
  color: #0a172b;
  text-align: center;
}
h3.icon {
  font-size: 40px;
  text-align: center;
}
h4 {
  color: #0a172b;
}
#features {
  font-weight: bold;
  margin-bottom: 40px;
}
a.btn {
  background-color: #6366f1;
  padding: 15px 40px;
  margin: 10px;
  text-decoration: none;
  color: #fafafa;
  border-radius: 10px;
}
a.btn:hover {
  background-color: #248eff;
}
#bottomStartBtn {
  min-width: 600px;
  display: inline;
}
#templatesBtn {
  background-color: #10b981;
}
#templatesBtn:hover {
  background-color: #34d399;
}
p {
  color: #07101c;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 10px 20px;
}
.card {
  background-color: #fafafa;
  color: #07101c;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  border: #a7b4c7 1px solid;
  border-radius: 16px;
  padding: 20px;
  transition: transform 0.5s ease;
  min-height: 200px;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
  transform: scale(1.03);
}
footer {
  text-align: center;
  background-color: #07101c;
  margin-bottom: 0;
  padding: 5px 0;
}
footer h4,
footer p {
  color: #fafafa;
}
ol {
  padding-left: 20px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  #cards {
    grid-template-columns: 1fr;
  }
  a.btn {
    display: block;
    margin: 10px auto;
    text-align: center;
  }
}
