#hero {
  text-align: center;
  background: linear-gradient(to bottom right, #eaf3ff, #ffffff);
  padding: 30px 0;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 30px;
  line-height: 1.2;
}
h2 {
  color: #0a172b;
  text-align: center;
}
h3.icon {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
h4 {
  color: #0a172b;
  margin-bottom: 10px;
}
.features {
  font-weight: bold;
  margin-bottom: 40px;
}
/* Buttons */
a.btn::after {
  content: "→";
  opacity: 0;
  margin-left: 0;
  transition: all 0.4s ease;
  top: 0;
}
a.btn:hover::after {
  opacity: 1;
  margin-left: 5px;
}

a.btn {
  position: relative;
  display: inline-block;
  transition: background-color 0.4s ease;
  background-color: #4f46e5;
  padding: 14px 36px;
  margin: 10px;
  color: #fff;
  font-weight: 600;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(79,70,229,0.2);
}

a.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(79,70,229,0.25);
}
#templatesBtn {
  background-color: #059669;
  box-shadow: 0 5px 15px rgba(5,150,105,0.2);
}

#templatesBtn:hover {
  background-color: #10b981;
}
p {
  color: #07101c;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
  border-radius: 30px;
}
.card {
  background-color: #fafafa;
  color: #07101c;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  border: #a7b4c7 1px solid;
  border-radius: 16px;
  padding: 20px;
  transition: transform 0.5s ease;
  min-height: 200px;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
  transform: scale(1.03);
}
/* Waitlist Form */
#waitlistform {
  text-align: center;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

form input {
  width: 90%;
  max-width: 420px;
  height: 45px;
  border: 1px solid #6ca0ff;
  border-radius: 12px;
  padding: 10px 14px;
  font-size: 15px;
  transition: .2s ease;
}

form input:focus {
  border-color: #4f46e5;
  outline: none;
  box-shadow: 0 0 0 3px rgba(79,70,229,.25);
}

form button {
   display: inline-block;
  background: #6366f1;
  color: white;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s ease;
  font-size: 15px;
  margin-top: 10px;
  border: none;
}

form button:hover {
  background-color: #4338ca;
  transform: translateY(-3px);
}
label {
  font-weight: 600;
}
footer {
  text-align: center;
  background-color: #07101c;
  margin-bottom: 0;
  padding: 5px 0;
  color: #ffffff;
}
#smallanimation {
  animation: flash 3s ease-in-out infinite;
  border-radius: 10px;
  padding: 0 0 0 5px;
  margin-right: 5px;
}
@keyframes flash {
  0%,
  25% {
    background-color: #6366f1;
  }
  25%,
  50% {
    background-color: #248eff;
  }
  50%,
  75% {
    background-color: #6366f1;
  }
  75%,
  100% {
    background-color: #10b981;
  }
}
#howToGetStarted {
  border-radius: 30px;
}
#howToGetStarted p {
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
}
ol {
  padding-left: 20px;
  margin: 10px 40px 20px;
}
@media (max-width: 600px) {
  #cards {
    grid-template-columns: 1fr;
  }
  a.btn {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 80%;
  }
}
