:root {
      --iconbg: #6265fd;
      --gap: 4px;
      --flexbox: flex;
      --sidebarbg: #0a172b;
      --fullsize: 100%;
}
  .menuIcon {
      display: none;
  }
@media (max-width: 600px) {
  header {
    justify-content: flex-start;
  }
  header nav a{
    display: none;
  }
  
  .menuIcon {
      cursor: pointer;
      display: var(--flexbox);
      align-items: center;
      gap: var(--gap);
      flex-direction: column;
      margin-left: 12px;
      }
      .menuIcon span {
        width: 28px;
        height: 4px;
        background: var(--iconbg);
        border-radius: 4px;
      }
      #sidebarContainer {
        position: fixed;
        left: -100%;
        transition: all 0.5s ease;
        width: var(--fullsize);
        height: 100dvh;
        z-index: 2;
      }
      #sidebarContainer.show {
        left: 0;
        background: rgba(0, 0, 0, 0.7);
      }
      .sidebar {
  background: var(--sidebarbg);
        width: 70%;
        height: var(--fullsize);
      }
      .sidebar nav {
        display: var(--flexbox);
        flex-direction: column;
        gap: var(--gap);
        padding-top: 22px;
      }
      .sidebar nav a {
                text-decoration: none;
  color: #fafafa;
  border: 2px solid var(--iconbg);
  border-radius: 12px;
  text-align: center;
  margin: 0 15px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.6s ease;
      }
      .sidebar nav a:hover {
         color: #6366f1;
           border: 2px solid #fafafa;
}
      }