* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --accent: #00bcd4;
  --text-light: #fafafa;
  --surface-light: #f5f5f5;
  --bg: #0d0d0d;
  --primary-text: #ffffff;
  --section-bg: #171717;
  --header-bg: #272727;
  --spacing: 1.2rem;
  --radius: 12px;
  --fs-body: 1rem;
  --fs-h1: 2.5rem;
  --fs-h2: 1.8rem;
  --transition: 0.3s ease;
   --button-text-color: #121212;
    --accent2: #1E90FF;
      --secondary-button-hover-color: #4ca3fb;

}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background: var(--bg);
  color: var(--primary-text);
  padding: 0 20px;
}

/* Navigation */
nav {
  background: var(--header-bg);
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-text);
  padding: 8px 14px;
  background: var(--section-bg);
  border-radius: 8px;
  font-size: 14px;
  transition: 0.2s;
}

nav a:hover {
  background: var(--header-bg);
}

nav a:active {
  background: #94a3b8;
}

/* Main container */
main {
  margin: 0 auto;
  max-width: 860px;
  background: var(--header-bg);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--primary-text);
}

h2 {
  margin-top: 30px;
  font-size: 24px;
  color: var(--primary-text);
  display: flex;
  align-items: center;
  gap: 8px;
}

p {
  margin: 12px 0;
  font-size: 16px;
  color: var(--surface-light);
}

ul,
ol {
  margin: 10px 0 10px 20px;
}

ul li,
ol li {
  margin-bottom: 6px;
}
ul li::marker {
  color: #0284c7;
}

section {
  margin-top: 35px;
  padding: 20px;
  background: var(--section-bg);
  border-radius: 10px;
  border: 1px solid #e2e8f0;
}

a {
  color: #0284c7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 35px;
  text-align: center;
  font-size: 14px;
  color: #64748b;
}

:root {
  --iconbg: #6265fd;
  --gap: 4px;
  --sidebarbg: var(--header-bg);
  --borderColor: #314564;
  --hoverbg: rgba(0, 0, 0, 0.9);
}
.menuIcon,
.sidebar {
  display: none;
}
@media (max-width: 750px) {
  nav {
    display: none;
  }
  header {
    padding: 0;
    margin: 14px;
  }
  header nav a {
    display: none;
  }

  .menuIcon {
    position: fixed;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--gap);
    flex-direction: column;
    border: 2px solid var(--borderColor);
    padding: 8px;
    border-radius: 4px;
    margin: 10px auto 0;
  }
  .menuIcon:hover {
    background: var(--hoverbg);
  }
  .menuIcon span {
    width: 28px;
    height: 4px;
    background: var(--iconbg);
    border-radius: 4px;
    transition: all 0.5s ease;
  }
  /* MAKE SPAN FOR CANCEL ICON LOOK LIKE AN X SHAPE */
  #middlebar.remove {
    display: none;
  }

  #topbar.crossForward {
    transform: rotate(45deg) translate(6px);
  }

  #bottombar.crossBackward {
    transform: rotate(-45deg) translate(6px);
  }

  #sidebarContainer {
    position: fixed;
    right: -100%;
    top: 45px;
    transition: all 0.5s ease;
    width: 100%;
    height: 100dvh;
    z-index: 2;
  }
  #sidebarContainer.show {
    right: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .sidebar {
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--sidebarbg);
    width: 70%;
    height: 100%;
    display: block;
  }
  .sidebar nav {
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--gap));
    padding-top: 22px;
  }
  .sidebar nav a {
    text-decoration: none;
    border: 2px solid var(--borderColor);
    border-radius: 12px;
    text-align: center;
    margin: 0 15px;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.6s ease;
  }
  .sidebar nav a:hover {
    border: 2px solid #878484;
  }
}

/*Popup container*/
#PopupContainer {
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100dvh;
  display: flex;
}
#PopupContainer.cancel {
    animation: slideOut 1s ease forwards;
  }
  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(100px);
      z-index: -3;
  }
}
#cancelPopup {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
/* Waitlist Form */
#waitlistform {
  max-width: 90%;
  position: absolute;
  text-align: center;
  z-index: 200;
  animation: slideDown 1s ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

form input {
  width: 90%;
  max-width: 420px;
  height: 45px;
  border: 1px solid #6ca0ff;
  border-radius: 12px;
  padding: 10px 14px;
  font-size: 1.1rem;
  transition: 0.2s ease;
}
form input::placeholder {
  color: #515151;
}
form input:focus {
  border-color: #4f46e5;
  outline: none;
  box-shadow: 0 0 15px rgba(78, 70, 229, 0.441);
}

form button {
  display: inline-block;
  background: var(--accent2);
  color: var(--button-text-color);
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s ease;
  font-size: 15px;
  margin-top: 10px;
  border: none;
}

form button:hover {
  background-color: var(--secondary-button-hover-color);
  transform: translateY(-3px);
}
label {
  font-weight: 600;
}