* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --accent1: #00bcd4;
  --accent2: #6366f1;
  --text-light: #fafafa;
  --surface-light: #f5f5f5;
  --bg: #0d0d0d;
  --primary-text: #ffffff;
  --section-bg: #171717;
  --header-bg: #272727;
  --spacing: 1.2rem;
  --radius: 4px;
  --fs-body: 1rem;
  --fs-h1: 2.5rem;
  --fs-h2: 1.8rem;
  --transition: 0.3s ease;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-body);
  margin: 0;
  background: var(--bg);
  color: var(--primary-text);
  line-height: 1.6;
  animation: fadeIn 0.4s ease-in-out;
  overflow-x: hidden;
}
/*Preloader*/
.preloader {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        width: 100vw;
        height: 100vh;
        z-index: 99999;
        position: fixed;
        background-color: black;
      }
      .preloader.noDisplay {
        display: none;
      }
      .preloader span {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: var(--accent1);
        animation: wave 0.7s ease-in-out infinite;
      }
      .preloader span:nth-child(2) {
        animation-delay: 0.5s;
      }
      .preloader span:nth-child(3) {
        animation-delay: 1s;
      }
      @keyframes wave {
        0% {
          transform: translateY(0);
                  opacity: 1;
        }
        50% {
          transform: translateY(-3px);
                  opacity: 0.5;

        }
        100% {
          transform: translateY(0);
        }
      }
      /*Scroll Lock*/
body.scrollLock {
  overflow: hidden;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1 {
  text-align: center;
  font-size: var(--fs-h1);
}
header {
  background: var(--header-bg);
  padding: calc(var(--spacing) / 2) 0;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  color: var(--primary-text);
  margin: 0 15px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color var(--transition);
}
header nav a:hover {
  color: var(--accent2);
}
.logoLink {
  text-decoration: none;
  margin: 15px;
}
a .brand {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
}
.logo {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: var(--radius);
  background: linear-gradient(135deg, var(--accent2), var(--accent1));
  display: grid;
  place-items: center;
  font-weight: 700;
  color: var(--bg);
}
.mainLogo {
  width: 6rem;
  height: 6rem;
  border-radius: var(--radius);
  background: linear-gradient(135deg, var(--accent2), var(--accent1));
  display: grid;
  place-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--bg);
  margin: 10px auto;
  transition: transform 0.8s ease, box-shadow 0.8s ease;
}
.mainLogo:hover {
  transform: translateY(-10px) rotateY(20deg);
  box-shadow: 0 0 15px #5e82b86c;
}
.muted {
  color: #6d82a0;
  font-size: 13px;
  font-weight: 700;
}
h2 {
  font-size: var(--fs-h2);
  text-align: center;
  margin: 40px 0;
}
section {
  border: 1px solid var(--surface-light);
  background-color: var(--section-bg);
  padding: var(--spacing);
  margin: calc(var(--spacing) * 2) auto;
  max-width: 80%;
  border-radius: var(--radius);
}
@media (max-width: 800px) {
  section {
    max-width: 95%;
  }
}
a {
  color: var(--accent1);
  text-decoration: none;
}
a:hover {
opacity: 0.7;}

footer {
  text-align: center;
  background-color: var(--header-bg);
  margin-bottom: 0;
  padding: 15px 0;
}
footer h4,
footer p {
  color: var(--text-light);
}
#scybudApps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
#scybudApps a {
  text-decoration: none;
}
#scybudApps .container {
  display: flex;
  flex-direction: column; /* FIXED HERE */
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}
#scybudApps .container:hover {
  transform: scale(1.1);
}
#scybudApps a span {
  margin-top: 5px;
  color: var(--surface-light);
  font-size: 12px;
}
#scybudApps .container img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  background-color: var(--surface-light);
  border-radius: 10px;
}

/* Scrollbar styling for website (cross-browser) */
html {
  /* Firefox */
  scrollbar-color: #4f46e5 #0f172a; /* thumb track */
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid transparent;
}
html::-webkit-scrollbar-thumb:hover {
  filter: brightness(0.5);
}
html::-webkit-scrollbar-corner {
  background: transparent;
}