#video {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}
#video video {
  width: 50%;
  height: auto;
  max-height: 380px;
  object-fit: cover;
  display: block;
  z-index: 1;
  border-radius: var(--radius);
}
#animatedTexts p {
  position: relative;
  right: -400%;
  background-color: var(--hover-border);
  margin: 10px;
  width: fit-content;
  padding: 20px;
  border-radius: 22px 22px 0 22px;
  transition: right 0.7s ease, left 0.7s ease;
  animation: moveLeft 10s forwards infinite, dance 1s ease infinite;
}
@keyframes moveLeft {
  0% {
    right: -400%;
  }
  50% {
    right: -50%;
  }
  100% {
    right: 100%;
  }
}
@keyframes dance {
  0% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-12px);
  }
}
#animatedTexts p:nth-child(1) {
  animation-delay: 0s;
}
#animatedTexts p:nth-child(2) {
  animation-delay: 2s;
}
#animatedTexts p:nth-child(3) {
  animation-delay: 4s;
}
#animatedTexts p:nth-child(4) {
  animation-delay: 6s;
}

#hero {
  position: relative;
  max-width: 100%;
  height: 100dvh;
  text-align: left;
  padding: 40px 30px;
  margin: 20px 32px;
  background: none;
  border: none;
  display: flex;
  justify-content: space-around;
}
#hero h1 {
  text-align: left;
  font-size: clamp(2.2rem, 5vw, 4rem);
}

#hero p {
  font-size: clamp(1.1rem, 2vw, 1.3rem);
}

#heroImg {
  height: 80%;
  margin-right: 10px;
}

#heroImg img {
  border-radius: 1rem;
  box-shadow: 0 0 12px rgb(0, 0, 0);
  max-width: 700px;
  max-height: 700px;
  transition: all 0.5s ease;
  opacity: 1;
}
#heroImg img:hover {
  transform: translate(-2px, -4px);
}
#heroImg.displayImg {
    transition: all 2s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  backdrop-filter: blur(40px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#heroImg.displayImg img {
  opacity: 1;
}

.features h3.icon {
  padding: 0;
  font-size: 40px;
  border-radius: var(--radius);
  text-align: center;
  margin: 0 auto 20px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.068);
}

.features {
  font-weight: bold;
  margin-bottom: 40px;
}
/* Buttons */
a.btn::after {
  content: "→";
  opacity: 0;
  margin-left: 0;
  transition: all 0.4s ease;
  top: 0;
}
a.btn:hover::after {
  opacity: 1;
  margin-left: 5px;
}

a.btn {
  position: relative;
  display: inline-block;
  background-color: var(--accent1);
  padding: 18px 36px;
  margin: 10px;
  font-weight: 600;
  border-radius: var(--radius);
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(78, 70, 229, 0.089);
  transition: transform 0.4s ease, box-shadow 0.4s ease,
    background-color 0.4s ease;
  color: var(--accent1-color);
}

a.btn:hover {
  background-color: var(--primary-button-hover-color);
  transform: translateY(-3px);
}
#templatesBtn {
  margin-top: 22px;
  color: var(--accent2-color);
  background-color: var(--accent2);
  box-shadow: 0 5px 15px rgba(45, 96, 51, 0.502);
}

#templatesBtn:hover {
  background-color: var(--secondary-button-hover-color);
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 10px;
  margin: 10px;
}
.card {
  background-color: var(--card-background-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  border: var(--card-border-color) 1px solid;
  border-radius: var(--radius);
  padding: 20px;
  transition: transform 0.5s ease;
  min-height: 200px;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
  transform: scale(1.03);
}

footer {
  text-align: center;
  margin-bottom: 0;
  padding: 5px 0;
  color: #ffffff;
}
#smallanimation:hover {
  animation: colorChange 3s alternate infinite;
  border-radius: var(--radius);
  padding: 0 0 0 5px;
  margin-right: 5px;
}
@keyframes colorChange {
  0%,
  25% {
    background-color: #6366f1;
  }
  25%,
  50% {
    background-color: #248eff;
  }
  50%,
  75% {
    background-color: #6366f1;
  }
  75%,
  100% {
    background-color: #10b981;
  }
}
#howToGetStarted p:nth-child(2) {
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
}
ol {
  padding-left: 20px;
  margin: 10px 40px 20px;
}
@media (max-width: 1210px) {
  #heroImg,
  #heroImg.displayImg,
  #heroImg img {
    display: none;
  }

  #hero {
    padding: 20px;
    display: block;
    text-align: center;
    height: auto;
    max-width: 90%;
    margin: calc(var(--spacing) * 2) auto;
    border: 1px solid var(--surface-light);
  }
  #hero h1 {
    text-align: center;
  }
}
@media (max-width: 600px) {
  #video {
    flex-direction: column;
  }
  #video video {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    object-fit: cover;
  }

  #cards {
    grid-template-columns: 1fr;
  }
  a.btn {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 80%;
  }
  #animatedTexts p {
    display: none;
  }
}
