:root {
  --accent1: #00FF85;
  --accent2: #1E90FF;
  --text-color: #ffffff;
  --heading-color: whitesmoke;
  --primary-button-hover-color: #11b37d ;
  --secondary-button-hover-color: #4ca3fb;
  --button-text-color: #121212;
  --card-background-color: #444444;
  --card-border-color: #a7b4c7;
  --hover-border: #FF0099;
}
#hero {
  text-align: center;
  padding: 80px 0;
  margin: 40px auto;
  border-radius: 30px;
}
h2 {
  color: var(--heading-color);
  text-align: center;
  margin: 0 auto;
}
h3.icon {
  padding: 0;
  font-size: 40px;
  text-align: center;
  margin:0 auto 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.146);
}
h4 {
  color: var(--heading-color);
  margin-bottom: 10px;
}
.features {
  font-weight: bold;
  margin-bottom: 40px;
}
/* Buttons */
a.btn::after {
  content: "→";
  opacity: 0;
  margin-left: 0;
  transition: all 0.4s ease;
  top: 0;
}
a.btn:hover::after {
    opacity: 1;
  margin-left: 5px;
}

a.btn {
  position: relative;
  display: inline-block;
  background-color: var(--accent1);
  padding: 14px 36px;
  margin: 10px;
  color: var(--button-text-color);
  font-weight: 600;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(78, 70, 229, 0.089);
  transition: transform 0.4s ease, box-shadow 0.4s ease,
    background-color 0.4s ease;
}

a.btn:hover {
  background-color: var(--primary-button-hover-color);
  transform: translateY(-3px);
}
#templatesBtn {
  background-color: var(--accent2);
  box-shadow: 0 5px 15px rgba(45, 96, 51, 0.502);
}

#templatesBtn:hover {
  background-color: var(--secondary-button-hover-color);
}
p {
  color: var(--text-color);
  font-size: var(1rem);
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
  border-radius: 30px;
}
.card {
  background-color: var(--card-background-color);
  color: var(--text-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  border: var(--card-border-color) 1px solid;
  border-radius: 16px;
  padding: 20px;
  transition: transform 0.5s ease;
  min-height: 200px;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
  transform: scale(1.03);
}

footer {
  text-align: center;
  background-color: #07101c;
  margin-bottom: 0;
  padding: 5px 0;
  color: #ffffff;
}
#smallanimation {
  animation: flash 3s alternate infinite;
  border-radius: 10px;
  padding: 0 0 0 5px;
  margin-right: 5px;
}
@keyframes flash {
  0%,
  25% {
    background-color: #6366f1;
  }
  25%,
  50% {
    background-color: #248eff;
  }
  50%,
  75% {
    background-color: #6366f1;
  }
  75%,
  100% {
    background-color: #10b981;
  }
}
#howToGetStarted p:nth-child(2) {
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
}
ol {
  padding-left: 20px;
  margin: 10px 40px 20px;
}
@media (max-width: 600px) {
    #hero {
    padding: 20px;
  }
  h2 {
    font-size: 22px;
  }
  #cards {
    grid-template-columns: 1fr;
  }
  a.btn {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 80%;
  }
}
