:root {
  --iconbg: #6265fd;
  --gap: 4px;
  --flexbox: flex;
  --sidebarbg: #0a172b;
  --fullsize: 100%;
}
.menuIcon,
.sidebar {
  display: none;
}
@media (max-width: 600px) {
  header {
    padding: 0;
  }
  header nav a {
    display: none;
  }

  .menuIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: var(--flexbox);
    align-items: center;
    gap: var(--gap);
    flex-direction: column;
  }
  .menuIcon span {
    width: 28px;
    height: 4px;
    background: var(--iconbg);
    border-radius: 4px;
  }
  #sidebarContainer {
    position: fixed;
    right: -100%;
    transition: all 0.5s ease;
    width: var(--fullsize);
    height: 100dvh;
    z-index: 2;
  }
  #sidebarContainer.show {
    right: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .sidebar {
    position: absolute;
    right: 0;
    background: var(--sidebarbg);
    width: 70%;
    height: var(--fullsize);
    display: block;
  }
  .sidebar nav {
    display: var(--flexbox);
    flex-direction: column;
    gap: calc(2 * var(--gap));
    padding-top: 22px;
  }
  .sidebar nav a {
    text-decoration: none;
    color: #fafafa;
    border: 2px solid var(--iconbg);
    border-radius: 12px;
    text-align: center;
    margin: 0 15px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.6s ease;
  }
  .sidebar nav a:hover {
    color: #6366f1;
    border: 2px solid #fafafa;
  }
}
