:root {
  --card-background-color: #444444;
  --primary-text: #ffffff;
  --accent2: #0080ff;
  --button-text-color: #121212;
}
.templates-btn a,
a.templates-btn {
  display: inline-block;
  background: var(--accent2);
  color: var(--button-text-color);
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s ease;
  font-size: 18px;
  margin-top: 10px;
}

.templates-btn a:hover,
a.templates-btn:hover {
  opacity: 0.7;
  transform: translateY(-2px);
}

.template-intro {
  text-align: center;
  padding: 25px 10px;
  max-width: 700px;
  margin: 0 auto 25px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

#allTemplates,
#locked-template {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  width: 100%;
  gap: 10px;
}

.template {
  margin-top: 10px;
  position: relative;
  background: var(--card-background-color);
  border: 2px solid var(--accent2);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.07);
  transition: all 0.5s ease;
  cursor: pointer;
  padding-bottom: 10px;
  width: 250px;
}
.template:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
#allTemplates a:nth-child(1) {
  text-decoration: none;
  color: var(--primary-text);
}

.template h3 {
  margin: 15px 0;
  font-size: 18px;
}
.template img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  transition: all 0.5s ease;
  border: 2px solid var(--accent2);
}

/* Text Section */
.desc {
  padding: 16px 18px;
}
.descTitle {
  margin: 10px 0 5px 15px;
  font-size: 20px;
}
.descText {
  margin: 0 15px 15px 15px;
  font-size: 14px;
  color: var(--primary-text);
}
.lock {
  position: absolute;
  top: 5px;
  right: 12px;
  background: rgb(0, 0, 0);
  color: #fff;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: 600;
}
.free {
  background: #248eff;
  position: absolute;
  top: 5px;
  right: 12px;
  color: #fff;
  font-size: 14px;
  padding: 6px 20px;
  border-radius: 6px;
  font-weight: 600;
}
#locked-template .desc {
  display: none;
}
@media (max-width: 600px) {
  .template {
    width: calc(100% - 20px);
  }
  #allTemplates,
  #locked-template {
    padding: 0 10px;
  }
  a.btn {
    display: block;
    margin: 10px auto;
    text-align: center;
    color: var(--button-text-color);
  }
}
